<div id="wrap">
  <div id="header">
    <h1><a href="./">Cloud Foundry CLI</a></h1>
    <p id="subtitle"><strong>One-line command to download, unpackage the right Cloud Foundry CLI for your machine</strong></p>
  </div>

  <div id="informations">
    <ul>
      <li>
        <div class="group row">
          <div class="col-1">
            <p>Install CLI for OS/X and Linux</p>
          </div>
          <div class="col-2">
            <pre><code><span style="color: #e3d796;">$</span> curl -s <%= request_hostname %>/install.sh | bash</code></pre>
          </div>
        </div>
      </li>

      <li>
        <div class="group row">
          <div class="col-1">
            <p>Download CLI for Windows</p>
          </div>
          <div class="col-2">
            <a download="<%= cli_release_asset_windows_amd64['name'] %>" href="<%= cli_release_asset_windows_amd64['url'] %>">64bit</a>
            |
            <a download="<%= cli_release_asset_windows_386['name'] %>" href="<%= cli_release_asset_windows_386['url'] %>">32bit</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>